* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homePage {
  color: white;
  background-image: url(./img/gaming.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}
.intro {
  font-size: 3rem;
  position: absolute;
  padding: 10px;
  background-color: gray;
  top: 50%;
  left: 50%;
}
.menuBars {
  cursor: pointer;
}
.menuBars div {
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

nav {
  background-color: #2f4454;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  width: 100%;
  height: 8vh;
  padding: 8px;
  box-sizing: border-box;
}

.navlinks {
  display: flex;
  justify-content: space-around;
}

.layout {
  display: flex;
  justify-content: space-evenly;
}
.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.timeLine {
  height: 100%;
  width: 50%;
  background-color: #dddddd;
  margin-top: 10px;
}

.timeLine ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.timeLine li:hover {
  color: white;
  background-color: #e85a4f;
  font-weight: bold;
  border: 2px solid white;
}

.timeLine li {
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #8e8d8a;
}

.addPost {
  text-align: end;
  margin-right: 10px;
  text-decoration: none;
  color: red;
  margin-top: 10px;
}

.addPost a {
  text-decoration: none;
  color: red;
}

.addPost:hover {
  color: white;
  text-decoration: underline;
}

.tlPost {
  padding: 15px;
}

.userProfile {
  background-color: lightgrey;
  width: 200px;
  height: 20vh;
  margin-top: 10px;
  border-radius: 10px;
}

.profilePic {
  background-color: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.userName {
  margin: 10px;
  color: red;
}

.comments {
  color: #2f4454;
  cursor: pointer;
}

.comments:hover {
  text-decoration: underline;
}

video {
  margin-top: 10px;
  cursor: pointer;
}

.submission input {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-size: 17px;
  display: block;
  margin-top: 10px;
}

.submission button {
  padding: 1em;
}

.signIn {
  background-color: lightblue;
  margin: auto;
  margin-top: 1.5em;
}

.signIn input {
  padding: 1em;
  font-size: 15px;
  border-radius: 7px;
}

.signIn button {
  width: 25%;
  background-color: lightslategray;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0.5em;
}

fieldset {
  padding: 1em;
  margin-top: 10px;
}
.box {
  margin-top: 10px;
  margin-left: 20px;
}

@media only screen and (min-width: 368px) {
  .menuBars {
    display: none;
  }
  .tabletMenu ul {
    display: flex;
    justify-content: space-around;
    margin-left: 0.5em;
  }
  .tabletMenu li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
  }

  .tabletMenu a:hover {
    border: 2px solid white;
    padding: 5px;
  }
  .tabletMenu a {
    text-decoration: none;
    color: white;
  }
}
